<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <servlet>
        <servlet-name>editattendee</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.EditAttendeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tourlist</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.TourListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadresume</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.UploadResumeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadresume</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.DownloadResumeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addattendee</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.AddAttendeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editaward</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.EditAwardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editcouncil</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.EditCouncilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editdelegate</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.EditDelegateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mycouncil</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.MyCouncilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlistcouncil</servlet-name>
        <servlet-class>com.naesc2011.conference.server.admin.AdminListCouncilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admincouncilcsv</servlet-name>
        <servlet-class>com.naesc2011.conference.server.admin.AdminCouncilCSVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminattendeecsv</servlet-name>
        <servlet-class>com.naesc2011.conference.server.admin.AdminAttendeeCSVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminhome</servlet-name>
        <servlet-class>com.naesc2011.conference.server.admin.AdminHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminmanagetour</servlet-name>
        <servlet-class>com.naesc2011.conference.server.admin.AdminManageTourServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminaward</servlet-name>
        <servlet-class>com.naesc2011.conference.server.admin.AdminAwardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlistawards</servlet-name>
        <servlet-class>com.naesc2011.conference.server.admin.AdminListAwardsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admindisplayaward</servlet-name>
        <servlet-class>com.naesc2011.conference.server.admin.AdminDisplayAwardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminconferencesettings</servlet-name>
        <servlet-class>com.naesc2011.conference.server.admin.AdminConferenceSettingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminprocessaddtour</servlet-name>
        <servlet-class>com.naesc2011.conference.server.admin.AdminProcessAddTourServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminprocesssavetour</servlet-name>
        <servlet-class>com.naesc2011.conference.server.admin.AdminProcessSaveTourServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminprocessaddaward</servlet-name>
        <servlet-class>com.naesc2011.conference.server.admin.AdminProcessAddAwardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminprocesssaveaward</servlet-name>
        <servlet-class>com.naesc2011.conference.server.admin.AdminProcessSaveAwardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminprocesssaveconferencesettings</servlet-name>
        <servlet-class>com.naesc2011.conference.server.admin.AdminProcessSaveConferenceSettingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminprocessdeleteattendee</servlet-name>
        <servlet-class>com.naesc2011.conference.server.admin.AdminProcessDeleteAttendeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processregister</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.ProcessRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processsavecouncil</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.ProcessSaveCouncilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processaddattendee</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.ProcessAddAttendeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processsaveattendee</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.ProcessSaveAttendeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processuploadresume</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.ProcessUploadResumeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processdeleteresume</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.ProcessDeleteResumeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processsavedelegate</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.ProcessSaveDelegateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processsaveaward</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.ProcessSaveAwardServlet</servlet-class>
    </servlet>
    
    
    <servlet-mapping>
        <servlet-name>editattendee</servlet-name>
        <url-pattern>/editattendee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tourlist</servlet-name>
        <url-pattern>/tourlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadresume</servlet-name>
        <url-pattern>/uploadresume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadresume</servlet-name>
        <url-pattern>/downloadresume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addattendee</servlet-name>
        <url-pattern>/addattendee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editaward</servlet-name>
        <url-pattern>/editaward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editcouncil</servlet-name>
        <url-pattern>/editcouncil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editdelegate</servlet-name>
        <url-pattern>/editdelegate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mycouncil</servlet-name>
        <url-pattern>/mycouncil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlistcouncil</servlet-name>
        <url-pattern>/admin/listcouncil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admincouncilcsv</servlet-name>
        <url-pattern>/admin/council.csv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminattendeecsv</servlet-name>
        <url-pattern>/admin/attendee.csv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminhome</servlet-name>
        <url-pattern>/admin/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminmanagetour</servlet-name>
        <url-pattern>/admin/managetour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminaward</servlet-name>
        <url-pattern>/admin/award</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlistawards</servlet-name>
        <url-pattern>/admin/listawards</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admindisplayaward</servlet-name>
        <url-pattern>/admin/displayaward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminconferencesettings</servlet-name>
        <url-pattern>/admin/conferencesettings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminprocessaddtour</servlet-name>
        <url-pattern>/admin/process/addtour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminprocesssavetour</servlet-name>
        <url-pattern>/admin/process/savetour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminprocessaddaward</servlet-name>
        <url-pattern>/admin/process/addaward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminprocesssaveaward</servlet-name>
        <url-pattern>/admin/process/saveaward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminprocesssaveconferencesettings</servlet-name>
        <url-pattern>/admin/process/saveconferencesettings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminprocessdeleteattendee</servlet-name>
        <url-pattern>/admin/process/deleteattendee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processregister</servlet-name>
        <url-pattern>/process/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processsavecouncil</servlet-name>
        <url-pattern>/process/savecouncil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processaddattendee</servlet-name>
        <url-pattern>/process/addattendee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processsaveattendee</servlet-name>
        <url-pattern>/process/saveattendee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processuploadresume</servlet-name>
        <url-pattern>/process/uploadresume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processdeleteresume</servlet-name>
        <url-pattern>/process/deleteresume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processsavedelegate</servlet-name>
        <url-pattern>/process/savedelegate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processsaveaward</servlet-name>
        <url-pattern>/process/saveaward</url-pattern>
    </servlet-mapping>
    
    
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>home</welcome-file>
	</welcome-file-list>
	
    
	<!--  Security Constraint for Administrative Pages -->
	<security-constraint>
		<web-resource-collection>
            <web-resource-name>Administrative Pages</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
    
    <!--  Security Constraint for Process Servlets -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Process Submit Pages</web-resource-name>
            <url-pattern>/process/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    
    <!--  Security Constraint for enforcing SSL -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>All Pages</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>
