<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>processCompanyAdd</servlet-name>
    <servlet-class>com.naesc2011.conference.server.ProcessCompanyAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>processCompanyAdd</servlet-name>
    <url-pattern>/Process/CompanyAdd</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>processCompanyEdit</servlet-name>
    <servlet-class>com.naesc2011.conference.server.ProcessCompanyEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>processCompanyEdit</servlet-name>
    <url-pattern>/Process/CompanyEdit</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>

</web-app>
