<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <servlet>
        <servlet-name>editattendee</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.EditAttendeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addattendee</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.AddAttendeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editaward</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.EditAwardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editcouncil</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.EditCouncilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editdelegate</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.EditDelegateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mycouncil</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.MyCouncilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processregister</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.ProcessRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processsavecouncil</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.ProcessSaveCouncilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processaddattendee</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.ProcessAddAttendeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processsaveattendee</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.ProcessSaveAttendeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processsavedelegate</servlet-name>
        <servlet-class>com.naesc2011.conference.server.naesc.ProcessSaveDelegateServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>editattendee</servlet-name>
        <url-pattern>/editattendee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addattendee</servlet-name>
        <url-pattern>/addattendee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editaward</servlet-name>
        <url-pattern>/editaward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editcouncil</servlet-name>
        <url-pattern>/editcouncil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editdelegate</servlet-name>
        <url-pattern>/editdelegate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mycouncil</servlet-name>
        <url-pattern>/mycouncil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processregister</servlet-name>
        <url-pattern>/process/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processsavecouncil</servlet-name>
        <url-pattern>/process/savecouncil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processaddattendee</servlet-name>
        <url-pattern>/process/addattendee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processsaveattendee</servlet-name>
        <url-pattern>/process/saveattendee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processsavedelegate</servlet-name>
        <url-pattern>/process/savedelegate</url-pattern>
    </servlet-mapping>
    
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>home</welcome-file>
	</welcome-file-list>
	
    
	<!--  Security Constraints -->
    <!--
	<security-constraint>
		<web-resource-collection>
            <web-resource-name>Administrative Pages</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
    -->
</web-app>
