img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/* Format the tables */
table.infotable {
	border-spacing: ;
	border-style: none;
}
table.infotable td {
	border-width: 1px;
	padding: 3px;
	border-style: inset;
	border-color: gray;
}
table.infotable tr.titlerow {
	background-color: lightgray;
	font-weight: bold;
}
table.infotable td.titlecol {
	background-color: lightgray;
	font-weight: bold;
	width: 10em;
}
table.infotable td.minicell {
	width: 3em;
}
table.infotable td.smallcell {
	width: 6em;
}
table.infotable td.mediumcell {
	width: 10em;
}
table.infotable td.largecell {
	width: 14em;
}
table.infotable td.extralargecell {
	width: 22em;
}

/* Format the HTML form */
label {
	font-size: 80%;
	font-weight: bold;
	width: 12em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block
}
label.widelabel {
	width: 30em;
	text-align: left;
	margin-right: 0em;
	margin-left: 1em;
}
input, select {
	color: black;
	background: lightgrey;
	border: 1px solid #556644;
}
input.insmall {
	width: 20em;
}
.submit input {
	margin-left: 12em;
	color: #000;
	background: lightgrey;
	border: 2px outset #556644;
}
input[disabled], select[disabled], textarea[disabled] {
	background-color: white;
	color: black;
}
fieldset {
	border: 1px solid #556644;
	width: 40em
}
legend {
	font-size: 110%;
	color: black;
	background: lightgrey;
	border: 1px solid black;
	padding: 4px 40px
}


/* header information */
div {
	display: block;
}
div#headbar {
	height: 1em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: grey;
	padding-bottom: 10px;	
}
h1 {
	font-size: 2em;
	font-weight: bold;
	background-color: #eee;
	padding: 10px;
	margin-top: 5px;
	text-align: center;
}
h2 {
	font-size: 1.8em;
	padding-top: 10px;
	padding-left: 1em;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: grey;
}
h3 {
	font-size: 1.5em;
	padding-top: 10px;
	padding-left: 1.5em;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #ddd;
}