/* The structure of the web page */
body {
	font-family: arial,sans-serif;
}
div {
	display: block;
}
div#main {
	overflow: hidden;
}
div#main div#body, div#main div#rightbar {
	/* Force the two columns to be the same height. */
	margin-bottom: -2000px;
	padding-bottom: 2000px;
}
div#headbar {
	height: 1em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: grey;
	padding-bottom: 10px;	
	font-family: arial,sans-serif;
	font-size: 13px;
}
div#topbarleft { 
	text-align: left;
	float: left;	
}
div#topbarright {
	text-align: right; 
	float: right;
}
div#headertitle{
	background: #31396B;
	min-height: 160px;
	margin-top: 5px;
}
div#body {
	float: left;
	width: 70%;
	background-color: #fff;
	min-height: 25em;
}
div#rightbar {
	float: right;
	width: 28%;
	background-color: #31396B;
	color: white;
	padding-left: 1%;
	padding-right: 1%;
	min-height: 25em;
}
div#footer {
	width: 100%;
	text-align:center;
	padding-top: 10px;
	font-size: 60%;
}

/* some random css stuff */
img#logo {
	float:left;
}
a img {
	border-style: none;
}
a:visited, a:link {
	color: #31396B;
	text-decoration: none;
}
div#headbar a:visited, div#headbar a:link {
	color: #0000CC;
	text-decoration: underline;
}
html {
	overflow-y: scroll;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/* Format the tables */
table {
	width: 100%;
}
table.infotable {
	border-style: none;
}
table.infotable td {
	padding: 3px;
}
table.infotable img {
	vertical-align:middle;	
}
table.infotable tr.titlerow {
	background-color: lightgray;
	font-weight: bold;
}
table.infotable td.titlecol {
	background-color: lightgray;
	font-weight: bold;
	width: 10em;
}
table.infotable td.minicell {
	width: 3em;
}
table.infotable td.smallcell {
	width: 7em;
}
table.infotable td.mediumcell {
	width: 10em;
}
table.infotable td.largecell {
	width: 14em;
}
table.infotable td.extralargecell {
	width: 22em;
}
table.infotable td.cellone {
	background-color: #eee;
}
table.infotable td.celltwo {
	background-color: #ddd;
}

/* Format the HTML form */
label {
	font-size: 90%;
	font-weight: bold;
	width: 12.5em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block
}
label.widelabel {
	width: 30em;
	text-align: left;
	margin-right: 0em;
	margin-left: 1em;
}
input[disabled], select[disabled], textarea[disabled] {
	background-color: white;
	color: #999;
}
input, select {
	color: black;
	background: lightgrey;
	border: 1px solid #556644;
}
input.insmall {
	width: 20em;
}
.submit input {
	margin-left: 14em;
	margin-top: 1em;
	color: #000;
	background: lightgrey;
	border: 2px outset #556644;
}
p.confirmbox {
	margin-left: 11em;
	margin-top: 2em;
	margin-bottom: 6em;
	color: red;
		
}
fieldset {
	border: 4px solid #000066;
	display: inline;
	min-width: 35em;
	margin-left: 2em;
	margin-bottom: 1em;
}
legend {
	font-size: 110%;
	font-weight: bold;
	color: black;
	background: #fff;
	border: 4px solid #000066;
	padding: 4px 40px
}


/* header information */
h1 {
	font-size: 2.5em;
	font-weight: bold;
	background-color: #31396B;
	color: white;
	margin-top: 5px;
	margin-bottom: 0px;
	padding-top: 30px;
	text-align: left;
}
h2 {
	font-size: 1.4em;
	padding-top: 10px;
	padding-left: 1em;
	border-bottom: 4px solid #31396B;
	color: #31396B
}
h3 {
	font-size: 1.2em;
	padding-top: 12px;
	padding-left: 1.5em;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: white;
}